{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <p> Category : {{ category.name }}   </p>
    <p>Articles :</p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>

        {% for article in articles|slice(0,3)|reverse %}
        <tr>
            <td>{{ article.id }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.content }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}